.time{
    display: flex;
    padding: 10px;
    margin-left: auto;
}
.mainClass{
  border: 3px solid black;
  width: 300px;
  padding: 10px;
  margin: auto;
}
ul {
    font: 14px Verdana, Geneva, sans-serif;
    text-align: center;
}
ul li {
    display : inline-block;
    margin-bottom: 10px;
    vertical-align: top;
    text-align: center;
    line-height: normal;
}